@import '../../assets/styles/_config.scss'; 


.menu {
    background-color: rgb(189, 160, 235);
    border-block-start-style: solid;
    border-block-start-color: rgb(253, 179, 231);
    border-block-start-width: 25px;
    color: $color-neutral-lighter;
    max-height: 5.4rem;
    min-height: 5.4rem;
    font-size: 3.6em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   

  }
  
  .menu > div {
    display: flex;
    align-items: center;
    
  }
  
  .menu a {
    color: rgb(82, 32, 79);
  
    &:global.active {
      color: rgb(255, 27, 217);
    }
  }
  
