@import '../../assets/styles/_config.scss'; 


.menu {
    background-color: $color-neutral-darker;
    color: $color-neutral-lighter;
    max-height: 5rem;
    min-height: 4rem;
    font-size: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .menu > div {
    display: flex;
    align-items: center;
  }
  