@import '../../assets/styles/_config.scss'; 

.header {
    background-color: $color-primary;
    color: $color-neutral-lightest;
    max-height: 4rem;
    min-height: 4rem;
    font-size: 2.75rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-block-end-style: solid;
    border-block-end-color: rgb(17, 248, 210);
    border-block-end-width: 20px;
  }
  