@import '../../assets/styles/_config.scss'; 

.header {
    background-color: $color-primary;
    color: $color-neutral-lightest;
    max-height: 7rem;
    min-height: 4rem;
    font-size: 3.75rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-block-end-style: solid;
    border-block-end-color: rgb(253, 179, 231);
    border-block-end-width: 30px;
  }
  