// Värimäärittelyt 

$color-primary: #0fffd7;
$color-secondary: #f70b79;
$color-neutral-darkest: #000000;
$color-neutral-darker: #1bf3cf;
$color-neutral-dark: #000000;
$color-neutral: #888881;
$color-neutral-light: #696968;
$color-neutral-lighter: #a5a0a0;
$color-neutral-lightest: #050505dc;

// Muut määrittelyt
$container-padding: 2rem;

