// Värimäärittelyt 

$color-primary: #9f0fff;
$color-secondary: #f70b79;
$color-neutral-darkest: #000000;
$color-neutral-darker: #fc09db;
$color-neutral-dark: #000000;
$color-neutral: #0c0c0c;
$color-neutral-light: #faaff6;
$color-neutral-lighter: #a5a0a0;
$color-neutral-lightest: #000000dc;

// Muut määrittelyt
$container-padding: 2rem;

