// Värimäärittelyt 
// generoitu sivustolla https://coolors.co/2d2d2a-696963-e1e1df-5f6b81-c14953 
$color-primary: #88a9b1;
$color-secondary: #eb17e1;
$color-neutral-darkest: #000000;
$color-neutral-darker: #0b6691;
$color-neutral-dark: #000000;
$color-neutral: #888881;
$color-neutral-light: #C4C4C0;
$color-neutral-lighter: #b8b3b3;
$color-neutral-lightest: #161616dc;
